<ion-header>
  <ion-title style="background-color:#d8d8d8;">
    <ion-item color="#d8d8d8" lines="none">
     <ion-buttons fill="clear" size="small" slot="start">
        <ion-back-button style="--color: #6AC5FE"></ion-back-button>
      </ion-buttons>
      <p style="color: #6AC5FE; font-size: 34px; font-family: 'Lucida Console', Monaco, monospace">Chapter {{(chapter | async)?.chapter_number}}</p>
    </ion-item>
  </ion-title>
</ion-header>

<ion-content>
  <h3 style="color: #6AC5FE; margin-top: 10px; text-align: center; font-family: 'Lucida Console', Monaco, monospace; text-decoration: underline; font-size: 25px">{{(chapter | async)?.chapter_title}}</h3>

  <ion-button (click)="readCount()" routerLink="read-text" expand="block" fill="outline" style="--border-color: black; --padding-top: 60px; --padding-bottom: 60px" size="large">
    <ion-item lines="none">
      <ion-img src="../assets/img/book.png" slot="start" style="width: 15% ; height: auto"></ion-img>
      <p>Read About It</p>
      <ion-img src="../assets/img/next.png" slot="end" style="width: 15% ; height: auto"></ion-img>
    </ion-item>
  </ion-button>

  <ion-button (click)="videoCount()" routerLink="watch-video" expand="block" fill="outline" style="--border-color: black; --padding-top: 60px; --padding-bottom: 60px; margin-top:100px" size="large">
    <ion-item lines="none" >
      <ion-img src="../assets/img/play-button.png" slot="start" style="width: 15% ; height: auto"></ion-img>
      <p>Watch a Video</p>
      <ion-img src="../assets/img/next.png" slot="end" style="width: 15% ; height: auto"></ion-img>
    </ion-item>
  </ion-button>

  <ion-button routerLink="quiz" expand="block" fill="outline" style="--border-color: black; --padding-top: 60px; --padding-bottom: 60px; margin-top: 100px" size="large">
    <ion-item lines="none" >
      <ion-img src="../assets/img/quiz.png" slot="start" style="width: 15% ; height: auto"></ion-img>
      <p>Take a Quiz</p>
      <ion-img src="../assets/img/next.png" slot="end" style="width: 15% ; height: auto"></ion-img>
    </ion-item>
  </ion-button>

</ion-content>
