<ion-header>
  <ion-title style="background-color:#d8d8d8">
    <ion-item color="#d8d8d8" lines="none">
      <ion-buttons fill="clear" size="small" slot="start">
        <ion-back-button style="--color: #6AC5FE"></ion-back-button>
      </ion-buttons>
      <p style="color: #6AC5FE; font-size: 34px">Chapter {{(chapter | async)?.chapter_number}}</p>
    </ion-item>
  </ion-title>
</ion-header>

<ion-content style="overflow: scroll">
  <h3 style="color: #6AC5FE; text-align: center; font-family: 'Lucida Console', Monaco, monospace; text-decoration: underline; font-size: 25px">Quiz: {{(chapter | async)?.chapter_title}}</h3>

  <div *ngIf="quizExist == true; else elseBlock">
    <form id="quiz-form">
      <div *ngFor="let problem of questionList" style="border-style: solid; border-color: black; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; margin: 10px">
        <p>Question {{problem.questionNo}}:
        <br>
        {{problem.question}}</p>
        <fieldset style="border: none"> 
          <input type="radio" id="{{problem.questionNo}}_{{problem.answerArray[0]}}" name="{{problem.questionNo}}" [value]="problem[problem.answerArray[0]]" [(ngModel)]="responseData['answer' + problem.questionNo]" >
          <label for="{{problem.questionNo}}_{{problem.answerArray[0]}}" style="margin: 10px">{{problem[problem.answerArray[0]]}}</label>
          <br><br>
          <input type="radio" id="{{problem.questionNo}}_{{problem.answerArray[1]}}" name="{{problem.questionNo}}" [value]="problem[problem.answerArray[1]]" [(ngModel)]="responseData['answer' + problem.questionNo]" >
          <label for="2_{{questionNo}}_{{problem.answerArray[1]}}" style="margin: 10px">{{problem[problem.answerArray[1]]}}</label>
          <br><br>
          <input type="radio" id="{{problem.questionNo}}_{{problem.answerArray[2]}}" name="{{problem.questionNo}}" [value]="problem[problem.answerArray[2]]" [(ngModel)]="responseData['answer' + problem.questionNo]" >
          <label for="{{problem.questionNo}}_{{problem.answerArray[2]}}" style="margin: 10px">{{problem[problem.answerArray[2]]}}</label>
          <br><br>
          <input type="radio" id="{{problem.questionNo}}_{{problem.answerArray[3]}}" name="{{problem.questionNo}}" [value]="problem[problem.answerArray[3]]" [(ngModel)]="responseData['answer' + problem.questionNo]" >
          <label for="{{problem.questionNo}}_{{problem.answerArray[3]}}" style="margin: 10px">{{problem[problem.answerArray[3]]}}</label>
        </fieldset> 
    </div>
      <ion-button [disabled]="allSelected() !== true" (click)="checkAnswers()" type="submit" style="float: right;" color="light">Check Answers</ion-button>
    </form>
  </div>
  <ng-template #elseBlock>
    <p style="text-align: center; margin: 20px;">No quiz uploaded for this chapter yet!</p>
  </ng-template>
  

</ion-content>
