<ion-header>
  <ion-title style="background-color:#d8d8d8; padding: 1%">
      <ion-item color="#d8d8d8" lines="none">
          <p style="margin-left: auto; margin-right: auto; color: #6AC5FE; font-size: 34px">Password</p>
      </ion-item>
  </ion-title>
  <ion-fab vertical="top" horizontal="start">
      <ion-fab-button style="--background: none; --box-shadow: none; --color: #6ac5fe;">
          <ion-icon (click)="back()" name="arrow-back"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="margin-top: 10%">
      <p style="color: black; margin-left: 7%; font-size: 100%;">Current Password: </p>
      <ion-input style="margin-left: 1%; font-size: 100%" placeholder="Enter here" autocomplete="off" [(ngModel)]="postData.password" type="password"></ion-input>
    </ion-row>
    <ion-row style="margin-top: 3%">
      <p style="color: black; margin-left: 7%; font-size: 100%;">New Password: </p>
      <ion-input style="margin-left: 1%; font-size: 100%" placeholder="Enter here" autocomplete="off" [(ngModel)]="postData.new_password" type="password"></ion-input>
    </ion-row>
    <ion-row style="margin-top: 3%">
      <p style="color: black; margin-left: 7%; font-size: 100%;">Confirm Password: </p>
      <ion-input style="margin-left: 1%; font-size: 100%" placeholder="Confirm here" autocomplete="off" [(ngModel)]="postData.confirm_password" type="password"></ion-input>
    </ion-row>
    <p style="color: #6ac5fe; margin-top: 3%; font-size: 75%; text-align: center;">**New password needs to be at least 4 characters</p>
    <p style="color: #6ac5fe; font-size: 75%; text-align: center;">(Please note! You will be logged out <br> after the information has been changed.) </p>
    <ion-row>
      <ion-button [disabled]="validateInputs() !== true" (click)="saveChanges()" expand="block" size="medium" style="margin-top: 7%; margin-left: auto; margin-right: 7%; color: white; --border-color: #6ac5fe; --background: #6ac5fe"> Save </ion-button>
  </ion-row>
  </ion-grid>
</ion-content>